body {
  font-family: "Noto Sans", sans-serif;
}

.container-fluid {
  padding: 0;
}

h1 {
  font-weight: 600;
}


/*Navigation bar*/

#menunavlinks a {
  color: black;
  font-weight: bold;
}

#menunavlinks {
  background: white;
  padding: 0 15px 0 0;
}


/*Splash*/

#splash {
  background: url(https://scontent-dfw1-1.xx.fbcdn.net/hphotos-xpa1/t31.0-8/12356796_10156356492350596_8475666394605884848_o.jpg) no-repeat center center fixed;
  text-align: center;
  padding: 200px 0 300px 0;
}

#splash h1 {
  padding: 0 0 5px 0;
  color: black;
}

#splash i {
  color: black;
  padding: 5px 0 0 0;
}

#splash a {
  padding: 0 1px 0 1px;
}

#splash i:hover {
  color: rgb(214, 226, 227);
}


/*About*/

#about {
  padding: 50px 0 100px 0;
}

#aboutme-title {
  text-align: center;
  padding-bottom: 50px;
}

#aboutme-left-content {
  text-align: justify;
}

#mypic {}

#mypic img {
  max-width: 560px;
  max-height: 600px;
}


/*Portfolio*/

#portfolio {
  background: url(http://hpwallpaperku.com/wp-content/uploads/2015/09/Horseshoe-Bend-Arizona-Wallpaper1.jpg) no-repeat center center fixed;
  padding: 100px 0 250px 0;
}

#portfolio h1,
h4 {
  padding: 0 0 0 0;
  text-align: center;
  color: white;
}

#port-desc {
  padding: 0 0 60px 0;
}


/*Contact*/

#contact {
  text-align: center;
  padding: 10px 0 10px 0;
}

#contact a {
  padding: 0 2px 0 2px;
  color: rgb(86, 160, 169);
}

#contact a:hover {
  color: rgb(239, 115, 103);
}

#contact i {
  padding: 10px 0 0 0;
}


/*Footer*/

footer {
  text-align: center;
  background: #666;
  color: white;
}